CompileFlags:
  Add: [-std=c++17]

Diagnostics:
  ClangTidy:
    Add: [modernize-*, performance-*]

InlayHints:
  Enabled: Yes
  ParameterNames: No  # 禁用参数名显示
  DeducedTypes: No    # 禁用类型推导显示
  Designators: No     # 禁用指示符显示

Index:
  Background: Build
